{% extends "admin/base.html" %}
{% block content %}



<form action="/admin/portfolio" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Portfolio title</label>
        <input type="title" class="form-control" name="title" id="title" placeholder="Basliq elave edin">
    </div>

    <div class="form-group">
        <label for="category">Category Id</label>
        <input type="category" class="form-control" name="category" id="category" placeholder="category">
    </div>

    <div class="form-group">
        <label for="image">Portfolio image</label>
        <input type="file" class="form-control" name="image" id="image" placeholder="image">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Portfolio id</th>
            <th scope="col">Portfolio title</th>
            <th scope="col">Portfolio image</th>
            <th scope="col">Category Id</th>
            <th scope="col">Delete</th>


  


        </tr>
    </thead>
    <tbody>
        {% for portfolies in portfolio %}
        <tr>
            <td>{{portfolies.portfolio_id}}</td>
            <td>{{portfolies.portfolio_title}}</td>
            <td>{{portfolies.portfolio_image}}</td>
            {% for category in categories %}
            {% if category.category_id==portfolies.category_id %}
            <td>{{category.category_name}}</td>
            {% endif %}
            {% endfor %}          
            <td><a href="/admin/portfolio/{{portfolies.portfolio_id}}"> <i class="far fa-trash-alt"></i> </a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}