{% extends "admin/base.html" %}
{% block content %}



<form action="/admin/portfolio" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" name="title" id="title" placeholder="Basliq elave edin">
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <input type="category" class="form-control" name="category" id="category" placeholder="category">
    </div>

    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image" id="image" placeholder="image">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">image</th>
            <th scope="col">Category Id</th>
            <th scope="col">Delete</th>


  


        </tr>
    </thead>
    <tbody>
        {% for i in prt %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.image}}</td>
            {% for i in ctg %}
            {% if i.id==i.category_id %}
            <td>{{i.name}}</td>
            {% endif %}
            {% endfor %}          
            <td><a href="/admin/portfolio/{{i.id}}"> <i class="far fa-trash-alt"></i> </a> </td>
            <!-- <td><a href="/admin/resume/{{i.id}}" > <i class="fas fa-edit"></i></i></a></td> --> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}