{% extends "admin/base.html" %}
{% block content %}



<form action="/admin/resume" method="POST">
    <div class="form-group">
        <label for="percent">Percent</label>
        <input type="text" class="form-control" name="percent" id="percent" placeholder="percent" >
    </div>
    <div class="form-group">
        <label for="name">Fullname</label>
        <input type="name" class="form-control" name="name" id="name" placeholder="name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Peercent</th>
            <th scope="col">Name</th>


        </tr>
    </thead>
    <tbody>
        {% for i in rsm %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.percent}}</td>
            <td>{{i.name}}</td>
            <!-- <td><a href="/admin/resume/{{i.id}}" > <i class="far fa-trash-alt"></i></a></td>
            <td><a href="/admin/resume/{{i.id}}" > <i class="fas fa-edit"></i></i></a></td> -->

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}