{% extends "app/layout.html" %}
{% block content %}


<section class="site-section" id="about-section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            {% for i in abt %}

            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                <div class="img-wrap">
                    <img src="{{i.image}}" alt="Image placeholder" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-5 pl-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="section-heading">
                    <h2>{{i.title}}</h2>
                </div>
                <p>{{i.text}}</p>
                <div class="my-5">
                    {% endfor %}

                    {% for i in skl %}
                    <div class="{{i.name}}">
                        <h3>{{i.name}}</h3>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{i.percent}}"
                                aria-valuenow="{{i.percent}}" id="{{i.id}}" aria-valuemin="{{i.percent}}"
                                aria-valuemax="{{i.percent}}">
                                <span>{{i.percent}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="untree_co-section" id="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12" data-aos="fade-up" data-aos-delay="0">
                <h2>My Portfolio</h2>
            </div>
        </div>
        <div class="filters" data-aos="fade-up" data-aos-delay="100">
            <ul>
                <li class="active" id="all">All</li>
                {% for i in ctg %}
                <li class="active" data-filter="{{i.id}} " id="{{i.id}}">{{i.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="filters-content mb-5" data-aos="fade-up" data-aos-delay="200">
            <div class="row grid">
                {% for i in prt %}
                <div class="single-portfolio col-sm-4 all mockup" id="{{i.category_id}}">
                    <a y={{i.image}} data-fancybox="gal">
                        <img src={{i.image}} alt="Image" class="img-fluid">
                        <div class="contents">
                            {% for i in ctg %}
                            {% if i.id==i.category %}
                            <h3>{{i.name}}</h3>
                            {% endif %}
                            {% endfor %}
                            <div class="cat">{{i.title}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

<div class="untree_co-section" id="services-section">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">
            {% for i in srvc %}
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up" data-aos-delay="100">
                <div class="site-service-item" data-animate-effect="fadeIn">
                    <span class="icon">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-display" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z" />
                            <path fill-rule="evenodd"
                                d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
                        </svg>
                    </span>
                    <h3 class="mb-4">{{i.title}}</h3>
                    <p>F{{i.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="site-section bg-light" id="testimonials-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Happy Clients</h2>
                </div>
            </div>
        </div>
        {% for i in rsm %}
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="block-47 d-flex mb-5">
                    <div class="block-47-image">
                        <img src="{{i.image}}" alt="Image placeholder" class="img-fluid">
                    </div>
                    <blockquote class="block-47-quote">
                        <p>&ldquo;{{i.text}}&rdquo;</p>
                        <cite class="block-47-quote-author">&mdash; {{i.fullname}}
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="site-section" id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Read on Medium</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for blg in blg %}

            <div class="col-md-9">
                <ul class="list-unstyled blog-entries">
                    <li data-aos="fade-up" data-aos-delay="100">
                        <a href="/blog/{{blg.id}}" class="d-block d-md-flex justify-content-between align-items-center">
                            <div>

                                <h3>{{blg.title}}</h3>
                            </div>
                            <span class="d-block date">{{blg.time}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<div class="untree_co-section" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5" data-aos="fade-up" data-aos-delay="0">
                <div class="section-heading text-center">
                    <h2>Contact Me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form action="/" method="POST" class="contact-form" data-aos="fade-up" data-aos-delay="100">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="" for="fname">First name</label>
                                <input type="text" name="fname" class="form-control" id="fname">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="" for="lname">Last name</label>
                                <input type="text" name="lname" class="form-control" id="lname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="" for="text">Subject</label>
                        <input type="text" name="text" class="form-control" id="text">
                    </div>
                    <div class="form-group">
                        <label class="" for="message">Message</label>
                        <textarea name="message" class="form-control" id="message" cols="30" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h3 class="h5 mb-4">Contact Info</h3>
                {% for i in ftr %}
                
                <address class="text-black d-flex"><span class="mt-1 icon-room mr-2"></span><span>{{i.adress}}</span></address>
                <ul class="list-unstyled ul-links mb-4">
                    <li class="mb-3"><a href="tel://11234567890" class="d-flex"><span
                                class="mt-1 icon-phone mr-2"></span><span>{{i.elaqe}}</span></a></li>
                    <li class="mb-3"><a
                            href="https://preview.colorlib.com/cdn-cgi/l/email-protection#70191e161f301d09141f1d11191e5e131f1d"
                            class="d-flex"><span class="mt-1 icon-envelope mr-2"></span><span><span class="__cf_email__"
                                    data-cfemail="f79e999198b79a8e93989a969e99d994989a">{{i.email}}></span></a>
                    </li>
                    <li class="mb-3"><a href="https://colorlib/" target="_blank" class="d-flex"><span
                                class="mt-1 icon-globe mr-2"></span><span>https://Colorlib/</span></a></li>
                </ul>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}